services:
  navidrome:
    image: deluan/navidrome:0.54.2
    container_name: navidrome
    user: 1000:1000 # should be owner of volumes
    ports:
      - "4533:4533"
    restart: always
    environment:
      ND_LOGLEVEL: info  
      ND_SESSIONTIMEOUT: 9000h
      ND_SCANSCHEDULE: 0
      ND_DEVACTIVITYPANEL: true
      # ND_BASEURL: ""
      ND_CONFIGFILE: /data/navidrome.toml
    volumes:
      # - "/mnt/Partage/Logiciels/navidrome/data:/data"
      - "/navidrome-config:/data:rw"
      - "/mnt/Partage/Musiques:/music:ro"
      - '/mnt/Partage/Musiques/playlists:/music/playlists:ro'
    env_file: navidrome.env
